@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p> A MVC5 application in the Azure cloud creates polyhedrons using Scalable Vector Graphics
  This one modifies the angle of view when you submit a choice. I extracted data from
  Mathematica and generated a c# class for each object.</p>
