@using System.Reflection.Emit
@using WebHedron2.Tools


@{
    ViewBag.Title = "Multiple Hedrons";
}



<div>
    @Html.Partial("_CreateHedron")
</div>
<div>
    @Html.Partial("_CreateHedron")
</div>

<div>
    @Html.Partial("_CreateHedron")
</div>

<div>
    
    @Html.Partial("_CreateHedron")
</div>


